@font-face {
  font-family: "Oxygen";
  src: url("/fonts/Oxygen-Regular.ttf") format("truetype");
}
.field {
  background-color: #0d0d0d;
}
button {
  cursor: pointer;
}
.wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
a:hover {
  color: #dd003e;
  text-decoration: none;
}
.homeOrderNow {
  color: #d9d9d9;
  font-family: "Steelfish Rg";
  font-size: 2rem;
  padding-top: 10px;
}
.rectangle {
  background-image: url(/images/rectangleBackground.png);
}
.rectangleText {
  color: #fff;
  font-weight: bold;
  font-family: "Steelfish Rg";
  text-align: center;
  filter: drop-shadow(1.172px 2.762px 0.5px #1a0f02);
  font-size: 4rem;
  width: 80%;
  margin: auto;
  padding-top: 40px;
  letter-spacing: 1px;
}
.rectangleText1 {
  color: #ffffff;
  font-weight: 400;
  font-family: "Oxygen";
  text-align: center;
  width: 70%;
  margin: auto;
  padding-top: 40px;
  line-height: 2rem;
}
.rectangleText2 {
  color: #ffffff;
  font-weight: 400;
  font-family: "Oxygen";
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.whiteLine {
  margin: auto;
  display: block;
  margin-top: 20px;
}
.text1 {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.button {
  position: relative;
  bottom: 55px;
  left: 205px;
  background: none;
}
.rectangle2 {
  margin-top: -55px;
}
.r1 {
  margin-top: 60px;
}
.button2 {
  position: relative;
  bottom: 55px;
  left: 205px;
}
.oneMonth {
  cursor: pointer;
}
.threeMonth {
  cursor: pointer;
}
.oneMonth1 {
  display: none;
}
.sixMonth1 {
  display: none;
  cursor: pointer;
}
.threeMonth1 {
  display: none;
}
.buttonv2 {
  position: relative;
  bottom: 55px;
  left: 195px;
  background: none;
  border: 0;
  outline: 0 !important;
}
.startOrder {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 4.2rem;
  letter-spacing: 1px;
  padding-top: 50px;
}
.pinkLine {
  margin: auto;
  display: block;
  margin-top: 50px;
  padding-bottom: 100px;
}
.shippingInfo {
  background-color: #262626;
  border: 0px solid #090a0a;
}
.shippingInfoText {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 3rem;
  margin-left: 30px;
}
.r2 {
  margin-top: 70px;
}
.input1 {
  border-radius: 21px;
  background-color: #262626;
  border: 1px solid #737373;
  width: 85%;
  margin: auto;
}
.red {
  color: red;
  padding-left: 2px;
}
.input2 {
  border-radius: 21px;
  background-color: #262626;
  border: 1px solid #737373;
  width: 105%;
  margin-left: 35px;
}
.input3 {
  border-radius: 21px;
  background-color: #262626;
  border: 1px solid #737373;
  width: 110%;
  margin-left: 45px;
}
.buttonContinue {
  border-radius: 30px;
  background-color: #dd003e;
  width: 35%;
  margin: auto;
  display: block;
  margin-top: 50px;
  color: #ffffff;
  font-family: "Steelfish Rg";
  text-align: center;
  font-size: 2rem;
  outline: 0 !important;
}
.underContinue {
  margin: auto;
  display: block;
  margin-top: 30px;
  padding-bottom: 250px;
}
.lastField {
  background-color: black;
}
.lastFieldFlex {
  display: flex;
}
.lastFieldText1 {
  font-family: "Steelfish Rg";
  color: #737373;
  font-size: 1.6rem;
  margin-bottom: 0px;
  margin-top: -8px;
  margin-left: 60px;
}
.lastFieldText {
  color: #737373;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.85rem;
  padding-top: 20px;
}
.red1 {
  color: #dd003e;
  padding-left: 10px;
  padding-right: 10px;
}
.lastFieldText2 {
  color: #737373;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.85rem;
  padding-left: 98px;
  margin-top: 30px;
}
.phone1 {
  height: 22px;
}
.r15 {
  padding-top: 50px;
  padding-bottom: 100px;
}
label {
  padding-left: 30px;
  color: #a6a6a6;
  font-weight: 400;
  font-family: "Oxygen";
}

.partOne {
  display: block;
}
.partTwo {
  display: none;
}
.partThree {
  display: none;
}
.paymentOption {
  background-color: #262626;
  border: 0px solid #090a0a;
}
.paymenOptionText {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 3rem;
  margin-left: 30px;
  margin-bottom: 0px;
}
.r3 {
  margin-top: 80px;
  padding-bottom: 100px;
}
.ccNormal {
  margin-right: 15px;
  cursor: pointer;
}
.paypalNormal {
  margin-left: 0px;
  cursor: pointer;
}
.ccSelected {
  padding-right: 15px;
  display: none;
}
.paypalSelected {
  padding-left: 15px;
  display: none;
}
.debitCredit {
  background-color: #262626;
  border: 0px solid #090a0a;
}
.debitCreditText {
  color: #d9d9d9;
  font-weight: bold;
  font-family: "Steelfish Rg";
  font-size: 3rem;
  margin-left: 30px;
  margin-bottom: 0px;
}
.i3 {
  margin-top: 30px;
}

.r4 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.tableRed {
  color: #dd003e;
  font-weight: 400;
  font-family: "Oxygen";
}
tr td:nth-child(3) {
  text-align: center;
}
.table th:nth-child(3) {
  text-align: center;
}
tr td:nth-child(2) p {
  margin-bottom: 0px;
}
.t1 > thead > tr > th,
.t1 > tbody > tr > th,
.t1 > tfoot > tr > th,
.t1 > thead > tr > td,
.t1 > tbody > tr > td,
.t1 > tfoot > tr > td {
  border-top: 0px;
  border-bottom: 1px solid gray;
}
.tableText {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
}
.tableText1 {
  font-size: 0.8rem;
  margin-right: 0px;
  color: #6a6a6a;
}
.tableText2 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.9rem;
}
.tableWrapper {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  margin-left: 5px;
  background-color: #262626;
}
.bottomBorder tr td {
  border-bottom: 0px;
}
.t2 > tbody > tr > th,
.t2 > tfoot > tr > th,
.t2 > thead > tr > td,
.t2 > tbody > tr > td,
.t2 > tfoot > tr > td {
  border-top: 0px;
  border-top: 1px solid gray;
}
.t2 > thead > tr > th {
  border-top: 0px;
  border-bottom: 0px;
}
.secondTableFooter {
  text-align: center;
  color: #737373;
  font-weight: 400;
  font-family: "Oxygen";
  margin-top: 30px;
  padding-bottom: 33px;
  margin-bottom: 0px;
}
.estimatedShipping {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  font-size: 0.9rem;
  margin-left: -10px;
  margin-bottom: 0px;
}
.subtotal {
  margin-bottom: 2px;
  margin-left: -10px;
  line-height: 2rem;
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
}
.tax {
  margin-bottom: 0px;
  margin-left: -10px;
  line-height: 2rem;
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
}
.t1 {
  margin-left: 0%;
}
.tableRed1 {
  color: #dd003e;
  font-weight: 400;
  font-family: "Oxygen";
  margin-left: -10px;
  margin-bottom: 0px;
  font-size: 1.2rem;
}
.orderTotal {
  margin-bottom: 0px;
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  margin-left: -10px;
  font-size: 1.1rem;
}
.secondTableRightText {
  text-align: right;
  margin-right: -10px;
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
}
.secondTableRightText1 {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  text-align: right;
  margin-right: -10px;
  line-height: 2rem;
  font-size: 0.9rem;
}
.orderTotalPrice {
  color: #d9d9d9;
  font-weight: 400;
  font-family: "Oxygen";
  text-align: right;
  margin-right: -10px;
}
.underContinue3 {
  margin: auto;
  display: block;
  margin-top: 30px;
  padding-bottom: 150px;
}
.labelText {
  font-size: 0.7rem;
}
.r {
  margin-top: 20px;
}
.rDebitCredit {
  padding-top: 40px;
}
.cardNumber {
  margin-bottom: 20px;
}
.grayText1 {
  color: #737373;
}
@media only screen and (max-width: 500px) {
  /* HEADER */
  .vitrenix {
    margin: auto;
    margin-bottom: 20px;
  }
  .phone {
    margin: auto;
    margin-bottom: 10px;
  }
  .homeOrderNow {
    margin: auto;
    display: inline-block;
  }
  /* HEADER DO OVDE */
  .rectangleText {
    font-size: 2rem;
    width: 100%;
    line-height: 3rem;
    padding-top: 20px;
  }
  .rectangleText1 {
    width: 95%;
    padding-top: 20px;
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
  .whiteLine {
    width: 100%;
  }
  .rectangleText2 {
    font-size: 1rem;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .rectangle {
    margin-top: 30px;
  }
  .text1 {
    font-size: 3rem;
  }
  .rectangle1,
  .rectangle2,
  .rectangle3 {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
  }
  .buttonMobile,
  .buttonv2 {
    right: 0px;
    left: 0px;
    float: right;
    padding-right: 5%;
    bottom: 110px;
  }
  .startOrder {
    font-size: 3rem;
    padding-top: 0px;
  }
  .pinkLine {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 50px;
  }
  .shippingInfoText {
    text-align: center;
    margin-left: 0px;
    font-size: 2.5rem;
  }
  .paymenOptionText {
    text-align: center;
    margin-left: 0px;
    font-size: 2.5rem;
  }
  .debitCreditText {
    text-align: center;
    margin-left: 0px;
    font-size: 2.5rem;
  }
  .input1 {
    width: 100%;
  }
  .r2 {
    margin-top: 50px;
  }
  .r {
    margin-top: 0px;
  }
  label {
    padding-left: 0px;
  }
  .input2 {
    width: 100%;
    margin-left: 0px;
  }
  .input3 {
    width: 100%;
    margin-left: 0px;
  }
  .buttonContinue {
    width: 80%;
  }
  /* FOOTER */
  .lastFieldText {
    text-align: center;
  }
  .phone1 {
    display: block;
    margin: auto;
  }
  .lastFieldText1 {
    display: none;
  }
  .lastFieldText2 {
    padding-left: 0px;
    font-size: 0.7rem;
    display: block;
    text-align: center;
    line-height: 1.2rem;
  }
  .phone1 {
    margin-top: 20px;
  }
  /* FOOTER END */
  .underContinue {
    padding-bottom: 50px;
  }
  .ccNormal {
    padding-right: 0px;
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }
  .ccSelected {
    padding-right: 0px;
    margin: auto;
    margin-bottom: 30px;
  }
  .paypalNormal {
    padding-left: 0px;
    display: block;
    margin: auto;
  }
  .paypalSelected {
    padding-left: 0px;
    margin: auto;
  }
  .r3 {
    padding-bottom: 50px;
  }
  .i3 {
    margin-top: 0px;
  }
  .tableText {
    font-size: 0.9rem;
    margin-left: -20px;
  }
  .tableText1 {
    font-size: 0.6rem;
    margin-left: -20px;
  }
}
@media only screen and (max-width: 475px) {
  .rectangleText {
    font-size: 1.5rem;
  }
  .rectangleText2 {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 450px) {
  .tableText {
    font-size: 0.8rem;
    margin-left: -25px;
  }
  .tableText1 {
    font-size: 0.5rem;
    margin-left: -25px;
  }
}
@media only screen and (max-width: 390px) {
  .red1 {
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media only screen and (max-width: 380px) {
  .rectangleText {
    font-size: 1.2rem;
  }
  .rectangleText2 {
    font-size: 0.85rem;
  }
  .rectangleText1 {
    width: 90%;
  }
  .buttonMobile,
  .buttonv2 {
    bottom: 100px;
  }
  .shippingInfoText {
    font-size: 2rem;
  }
  .paymenOptionText {
    font-size: 2rem;
  }
  .debitCreditText {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 370px) {
  .startOrder {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 360px) {
  .text1 {
    font-size: 2.5rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .buttonMobile,
  .buttonv2 {
    width: 40%;
    bottom: 95px;
  }
  .buttonMobile1 {
    width: 100%;
  }
  .buttonContinue {
    width: 80%;
  }
}
@media only screen and (max-width: 350px) {
  .lastFieldText {
    font-size: 0.75rem;
  }
  .lastFieldText2 {
    font-size: 0.6rem;
  }
}

[name="payment-options"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[name="payment-options"]:checked + label {
  box-shadow: 0 0 0 3px red;
}
.label1 {
  padding-left: 0px;
}
.label2 {
  padding-left: 0px;
}
